<app-header [menuEnabled]="menuEnabled"></app-header>
<section>
    <div class="container-fluid">
        <div class="row no-mg">
            <div class="col-12 col-sm-2 box-filter">
                <h4 class="text-info">Filtro</h4>
                <br />
                <form #form name="form">

                    <!-- Form fields-->

                    <label>Por nome:</label>
                    <input #search type="text" placeholder="Buscar por..." (keyup)="dataGrid.search('name', search.value)" class="form-control" />
                    <br />

                    <label *ngIf="this.authService.isAdminOrDistributor()">Por cliente:</label>
                    <input #clientSearch *ngIf="this.authService.isAdminOrDistributor()" type="text" placeholder="Buscar por..." (keyup)="dataGrid.search('clientName', clientSearch.value)" class="form-control" />
                    <br *ngIf="this.authService.isAdminOrDistributor()" />

                    <!-- Form fields -->

                    <filter-controls [form]="form" [dataGrid]="dataGrid"></filter-controls>
                </form>
            </div>
            <div class="col no-pd-right">
                <alert #alert></alert>

                <!-- Datagrid -->
                <data-grid-industries [alert]="alert" class="table table-hover table-bordered"></data-grid-industries>
            </div>
        </div>
    </div>
</section>
