<app-header [menuEnabled]="menuEnabled"></app-header>

<section>
    Bem vindo ao Apogeo.

    <ul>
        <li>
            <!-- <a href="https://apogeo-oauth-server.cfapps.io/oauth/authorize?response_type=token&client_id=apogeo-app&redirect_uri=http://localhost:4200">OAuth Login - http://localhost:4200</a> -->
        </li>
        <li>
            <a href="https://apogeo-oauth-server.cfapps.io/oauth/authorize?response_type=token&client_id=apogeo-app&redirect_uri=http://localhost:4200/home">OAuth Login - http://localhost:4200/home</a>
        </li>
        <li>
            <!-- <a href="https://apogeo-oauth-server.cfapps.io/oauth/authorize?response_type=token&client_id=apogeo-app&redirect_uri=http://localhost:4200/surveys/survey/list">OAuth Login - http://localhost:4200/surveys/survey/list</a> -->
        </li>
        <li>
            <a href="http://localhost:4200/surveys/survey/list">Questions - http://localhost:4200/surveys/survey/list</a>
        </li>
        <li>
            <!-- <a href="http://localhost:4200/surveys/survey/list#access_token=2819e418-76e1-4a41-bb54-c30509146d19&token_type=bearer&expires_in=99999956&scope=read%20write">Questions Token - http://localhost:4200/surveys/survey/list#access_token=2819e418-76e1-4a41-bb54-c30509146d19&token_type=bearer&expires_in=99999956&scope=read%20write</a> -->
        </li>
    </ul>
</section>
