<app-header [menuEnabled]="menuEnabled"></app-header>
<section>
    <div class="container-fluid container" *ngIf="!loaded">
        <div class="col-lg-10 lds-css ng-scope">
            <div style="margin: 0 auto;" class="lds-eclipse">
                <div></div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <persist-navigation *ngIf="loaded" (save)="save($event)" (update)="update($event)" (deleteOne)="delete($event)" [listPath]="listPath" [urlId]="urlId" [loaded]="loaded"></persist-navigation>
        <alert #alert></alert>
    </div>

    <div class="container-fluid" *ngIf="loaded">
        <div class="row mg-top-2">

            <div class="col-12 col-md-4">
                <div class="row">

                    <div class="col-10 form-group">
                        <label for="txt-nome">Nome da página:</label>
                        <input type="text" id="txt-nome" class="form-control" [value]="object.name" [(ngModel)]="object.name" />
                    </div>

                    <div class="col-2 form-group">
                        <label for="active">Facilitador:</label>
                        <div class="check no-mg">
                            <input class="tgl tgl-skewed" type="checkbox" name="enabled" id="active" [checked]="object.enabled" />
                            <label class="tgl-btn" data-tg-off="NÃO" data-tg-on="SIM" for="enabled"></label>
                        </div>
                    </div>

                    <div class="col-12 form-group">
                        <label for="txt-nome">E-Mail:</label>
                        <input type="text" id="txt-nome" class="form-control" [value]="object.email" [(ngModel)]="object.email" />
                    </div>

                    <div class="col-12 form-group">
                        <label for="txt-nome">CPF:</label>
                        <input type="text" id="txt-nome" class="form-control" [value]="object.document" [(ngModel)]="object.document" />
                    </div>


                </div>
            </div>

            <div class="col-12">
                <h5 class="mg-top-2">Endereços:</h5>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Logradouro</th>
                            <th>Número</th>
                            <th>Compl.</th>
                            <th>Bairro</th>
                            <th>Cidade</th>
                            <th>Estado</th>
                            <th>CEP</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="object.addresses.length > 0">
                        <tr *ngFor="let addr of object.addresses; let ind = index">
                            <td><input type="text" [value]="object.addresses[ind].addressType" [(ngModel)]="object.addresses[ind].addressType" class="form-control" /></td>
                            <td><input type="text" [value]="object.addresses[ind].street" [(ngModel)]="object.addresses[ind].street" class="form-control" /></td>
                            <td><input type="text" [value]="object.addresses[ind].number" [(ngModel)]="object.addresses[ind].number" class="form-control" /></td>
                            <td><input type="text" [value]="object.addresses[ind].other" [(ngModel)]="object.addresses[ind].other" class="form-control" /></td>
                            <td><input type="text" [value]="object.addresses[ind].area" [(ngModel)]="object.addresses[ind].area" class="form-control" /></td>
                            <td><input type="text" [value]="object.addresses[ind].city" [(ngModel)]="object.addresses[ind].city" class="form-control" /></td>
                            <td><input type="text" [value]="object.addresses[ind].state" [(ngModel)]="object.addresses[ind].state" class="form-control" /></td>
                            <td><input type="text" [value]="object.addresses[ind].zipCode" [(ngModel)]="object.addresses[ind].zipCode" class="form-control" /></td>
                            <td>X / Y</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr *ngIf="object.addresses.length < 1">
                            <td><input type="text" [value]="address[0].addressType" [(ngModel)]="address[0].addressType" class="form-control" /></td>
                            <td><input type="text" [value]="address[0].street" [(ngModel)]="address[0].street" class="form-control" /></td>
                            <td><input type="text" [value]="address[0].number" [(ngModel)]="address[0].number" class="form-control" /></td>
                            <td><input type="text" [value]="address[0].other" [(ngModel)]="address[0].other" class="form-control" /></td>
                            <td><input type="text" [value]="address[0].area" [(ngModel)]="address[0].area" class="form-control" /></td>
                            <td><input type="text" [value]="address[0].city" [(ngModel)]="address[0].city" class="form-control" /></td>
                            <td><input type="text" [value]="address[0].state" [(ngModel)]="address[0].state" class="form-control" /></td>
                            <td><input type="text" [value]="address[0].zipCode" [(ngModel)]="address[0].zipCode" class="form-control" /></td>
                            <td>X / Y</td>
                        </tr>
                        <tr *ngIf="object.addresses.length < 2">
                            <td><input type="text" [value]="address[1].addressType" [(ngModel)]="address[1].addressType" class="form-control" /></td>
                            <td><input type="text" [value]="address[1].street" [(ngModel)]="address[1].street" class="form-control" /></td>
                            <td><input type="text" [value]="address[1].number" [(ngModel)]="address[1].number" class="form-control" /></td>
                            <td><input type="text" [value]="address[1].other" [(ngModel)]="address[1].other" class="form-control" /></td>
                            <td><input type="text" [value]="address[1].area" [(ngModel)]="address[1].area" class="form-control" /></td>
                            <td><input type="text" [value]="address[1].city" [(ngModel)]="address[1].city" class="form-control" /></td>
                            <td><input type="text" [value]="address[1].state" [(ngModel)]="address[1].state" class="form-control" /></td>
                            <td><input type="text" [value]="address[1].zipCode" [(ngModel)]="address[1].zipCode" class="form-control" /></td>
                            <td>X / Y</td>
                        </tr>
                        <tr *ngIf="object.addresses.length < 3">
                            <td><input type="text" [value]="address[2].addressType" [(ngModel)]="address[2].addressType" class="form-control" /></td>
                            <td><input type="text" [value]="address[2].street" [(ngModel)]="address[2].street" class="form-control" /></td>
                            <td><input type="text" [value]="address[2].number" [(ngModel)]="address[2].number" class="form-control" /></td>
                            <td><input type="text" [value]="address[2].other" [(ngModel)]="address[2].other" class="form-control" /></td>
                            <td><input type="text" [value]="address[2].area" [(ngModel)]="address[2].area" class="form-control" /></td>
                            <td><input type="text" [value]="address[2].city" [(ngModel)]="address[2].city" class="form-control" /></td>
                            <td><input type="text" [value]="address[2].state" [(ngModel)]="address[2].state" class="form-control" /></td>
                            <td><input type="text" [value]="address[2].zipCode" [(ngModel)]="address[2].zipCode" class="form-control" /></td>
                            <td>X / Y</td>
                        </tr>
                    </tbody>
                </table>

                <h5 class="mg-top-2">Telefones:</h5>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Área</th>
                            <th>Número</th>
                            <th>Ramal</th>
                            <th>Operadora</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="object.phones.length > 0">
                        <tr *ngFor="let phone of object.phones">
                            <td><input type="text" [value]="phone.phoneType" class="form-control" /></td>
                            <td><input type="text" [value]="phone.code" class="form-control" /></td>
                            <td><input type="text" [value]="phone.number" class="form-control" /></td>
                            <td><input type="text" [value]="phone.extension" class="form-control" /></td>
                            <td><input type="text" [value]="phone.operatorType" class="form-control" /></td>
                            <td>@mdo</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr *ngIf="object.phones.length < 1">
                            <td><input type="text" name="phone[]" class="form-control" /></td>
                            <td><input type="text" name="phone[]" class="form-control" /></td>
                            <td><input type="text" name="phone[]" class="form-control" /></td>
                            <td><input type="text" name="phone[]" class="form-control" /></td>
                            <td><input type="text" name="phone[]" class="form-control" /></td>
                            <td>@mdo</td>
                        </tr>
                        <tr *ngIf="object.phones.length < 2">
                            <td><input type="text" name="phone[]" class="form-control" /></td>
                            <td><input type="text" name="phone[]" class="form-control" /></td>
                            <td><input type="text" name="phone[]" class="form-control" /></td>
                            <td><input type="text" name="phone[]" class="form-control" /></td>
                            <td><input type="text" name="phone[]" class="form-control" /></td>
                            <td>@mdo</td>
                        </tr>
                        <tr *ngIf="object.phones.length < 3">
                            <td><input type="text" name="phone[]" class="form-control" /></td>
                            <td><input type="text" name="phone[]" class="form-control" /></td>
                            <td><input type="text" name="phone[]" class="form-control" /></td>
                            <td><input type="text" name="phone[]" class="form-control" /></td>
                            <td><input type="text" name="phone[]" class="form-control" /></td>
                            <td>@mdo</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>
