<modal #modal [backdrop]="false" class="modal-xl">
    <modal-header [show-close]="true">
        <h4 class="flex-first" *ngIf="type == 'create'">Preencha os campos abaixo:</h4>
        <h4 class="flex-first" *ngIf="type == 'edit' && !this.authService.isAdminOrDistributor()">Distribuidor: {{ object.name }}</h4>
        <h4 class="flex-first" *ngIf="type == 'edit' && this.authService.isAdminOrDistributor()">Distribuidor: {{ object.name }}</h4>
    </modal-header>
    <modal-body>
        <alert #alert></alert>

        <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)">

            <!-- Form -->

            <div class="row">
                <div class="col-12">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Número de Soluções</th>
                                <th>De --min-- a --max--</th>
                                <th>De --min-- a --max--</th>
                                <th>De --min-- a --max--</th>
                                <th>De --min-- a --max--</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" class="form-control" value="{{object.id}}" /></td>
                                <td><input type="text" class="form-control" value="{{object.minimumAnswers}}" /></td>
                                <td><input type="text" class="form-control" /></td>
                                <td><input type="text" class="form-control" /></td>
                                <td><input type="text" class="form-control" /></td>
                                <td>X / Y</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <!-- /Form -->

            <br />

            <button type="submit" class="btn btn-success" [disabled]="form.invalid" *ngIf="type == 'create'">Salvar</button>
            <button type="button" class="btn btn-default" (click)="close()" *ngIf="type == 'create'">Cancelar</button>
            <button type="submit" class="btn btn-success" [disabled]="form.invalid" *ngIf="type == 'edit'">Salvar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()" *ngIf="type == 'edit'">Cancelar</button>
        </form>
    </modal-body>
</modal>
