<modal #modal [backdrop]="false" class="modal-xl">
    <modal-header [show-close]="true">
        <h4 class="flex-first" *ngIf="type == 'create'">Preencha os campos abaixo:</h4>
        <h4 class="flex-first" *ngIf="type == 'edit' && !this.authService.isAdminOrDistributor()">Template: {{ object.name }}</h4>
        <h4 class="flex-first" *ngIf="type == 'edit' && this.authService.isAdminOrDistributor()">Template: {{ object.name }}, Cliente: {{ object.clientName }}</h4>
    </modal-header>
    <modal-body>
        <alert #alert></alert>


        <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)">

            <!-- Form -->

            <div class="row">
                <div class="col-5">

                    <div class="row">
                        <div class="col-12">
                            <label for="subject">Assunto:</label>
                            <input type="text" formControlName="subject" class="form-control" />
                        </div>

                        <div class="col-12">
                            <label for="senderName">Nome do remetente:</label>
                            <input type="text" formControlName="senderName" class="form-control" />
                        </div>

                        <div class="col-12">
                            <label for="senderEmail">Email do remetente:</label>
                            <input type="text" formControlName="senderEmail" class="form-control" />
                        </div>

                        <div class="col-12">
                            <label for="mailTo">Email do destinatário:</label>
                            <input type="text" formControlName="mailTo" class="form-control" />
                        </div>

                    </div>
                </div>

                <div class="col-7">

                    <div class="row" *ngIf="this.authService.isAdminOrDistributor()">
                        <div class="col-12">
                            <label>Cliente</label>
                            <select #selClient id="sel-client" formControlName="clientId" class="form-control">
                                <option></option>
                                <option *ngFor="let item of clients" [ngValue]="item.id">
                                    {{ item.name }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-12 no-mg">
                        <label for="description" class="mg-top-2">Descrição:</label>
                        <p class="description">{{ form.controls['description'].value }}</p>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">

                <div class="col-12">
                    <textarea id="contentEditor" formControlName="content" rows="10" class="form-control" autofocus></textarea>
                </div>
            </div>

            <!-- /Form -->

            <br />

            <button type="submit" class="btn btn-success" [disabled]="form.invalid" *ngIf="type == 'create'">Salvar</button>
            <button type="button" class="btn btn-default" (click)="close()" *ngIf="type == 'create'">Cancelar</button>
            <button type="submit" class="btn btn-success" [disabled]="form.invalid" *ngIf="type == 'edit'">Salvar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()" *ngIf="type == 'edit'">Cancelar</button>
        </form>
    </modal-body>
</modal>
