<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="flex-first" *ngIf="type == 'create'">Preencha os campos abaixo:</h4>
        <h4 class="flex-first" *ngIf="type == 'edit'">Template - {{ object.name }}</h4>
    </modal-header>
    <modal-body>
        <alert #alert></alert>

        <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)">

            <!-- Form -->
            <div class="row">
                <div class="col-md-6 mg-top-2">
                    <label for="description">Descrição:</label>
                    <input type="text" formControlName="description" class="form-control" />
                </div>

                <div class="col-md-6 mg-top-2">
                    <label for="subject">Assunto:</label>
                    <input type="text" formControlName="subject" class="form-control" />
                </div>
            </div>

            <div class="row mg-top-2 mg-top-2">
                <div class="col-md-6">
                    <label for="senderName">Nome do remetente:</label>
                    <input type="text" formControlName="senderName" class="form-control" />
                </div>

                <div class="col-md-6 mg-top-2">
                    <label for="senderEmail">Email do remetente:</label>
                    <input type="text" formControlName="senderEmail" class="form-control" />
                </div>
            </div>

            <label for="content" class="mg-top-2">Descrição:</label>
            <textarea formControlName="content" cols="60" rows="8" class="form-control" autofocus></textarea>

            <!-- /Form -->

            <br />

            <button type="submit" class="btn btn-success" [disabled]="form.invalid" *ngIf="type == 'create'">Cadastrar</button>
            <button type="button" class="btn btn-default" (click)="close()" *ngIf="type == 'create'">Cancelar</button>
            <button type="submit" class="btn btn-success" [disabled]="form.invalid" *ngIf="type == 'edit'">Editar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()" *ngIf="type == 'edit'">Cancelar</button>
        </form>
    </modal-body>
</modal>
