<app-header [menuEnabled]="menuEnabled"></app-header>

<section>
    <div class="container-fluid">

        <persist-navigation (save)="save($event)" (update)="update($event)" (deleteOne)="delete($event)" [listPath]="listPath" [urlId]="urlId"></persist-navigation>
        <alert #alert></alert>

        <div class="row">
            <div class="col-3">
                <div class="col">
                    <label for="title">Título da solução:</label>
                    <input type="text" id="title" class="form-control" [value]="object.title" [(ngModel)]="object.title" />
                </div>
                <div class="col">
                    <label for="valor">Valor:</label>
                    <div class="input-group">
                      <span class="input-group-addon">R$</span>
                      <input [disabled]="object.cortesia" id="valor" class="form-control currency" [value]="object.valor" [(ngModel)]="object.valor"
                      type="number" value="10000" min="0" step="25" data-number-to-fixed="2" data-number-stepfactor="100" />
                    </div>
                    <!-- <input [disabled]="object.cortesia" type="text" id="valor" class="form-control" [value]="object.valor" [(ngModel)]="object.valor" /> -->
                </div>
            </div>

            <div class="col-8">
                <div class="col-8">
                    <label for="description">Descrição da solução:</label>
                    <textarea rows="5" type="text" id="description" class="form-control" [value]="object.description" [(ngModel)]="object.description"></textarea>
                </div>
            </div>
        </div>

        <div class="row mg-top-2">
            <div class="col-12 col-sm-2 form-group">
                <label for="hasJobPosition">Possui Cargos:</label>
                <div class="check">
                    <input type="checkbox" name="hasJobPosition" id="hasJobPosition" class="ios-toggle" (click)="setHasJobPosition(!object.hasJobPosition)" [checked]="object.hasJobPosition" />
                    <label for="hasJobPosition" class="checkbox-label" data-off="" data-on=""></label>
                </div>
            </div>
            <div class="col-12 col-sm-1 form-group">
                <label for="cortesia">Cortesia:</label>
                <div class="check no-mg">
                    <input type="checkbox" name="cortesia" id="cortesia" class="ios-toggle" (click)="setCortesia(!object.cortesia)" [checked]="object.cortesia" />
                    <label for="cortesia" class="checkbox-label" data-off="" data-on=""></label>
                </div>
            </div>
            <div class="col-12 col-sm-1 form-group">
                <label for="active">Ativo:</label>
                <div class="check no-mg">
                    <input type="checkbox" name="active" id="active" class="ios-toggle" (click)="setActive(!object.active)" [checked]="object.active" />
                    <label for="active" class="checkbox-label" data-off="" data-on=""></label>
                </div>
            </div>
        </div>

        <div class="row mg-top-1">
            <div class="col">
                <div class="form-group">
                    <label for="sel-available">Resultado disponíveis:</label>
                    <select multiple="multiple" #selAvailable id="sel-available" class="form-control sel-multiple">
                        <option *ngFor="let item of availableItems" [value]="item.id">
                            {{ item.description }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-1 align-self-center">
                <div class="col-12 d-flex justify-content-center">
                    <button (click)="moveAll(availableItems, selectedItems)" class="btn btn-primary"><i class="fa fa-chevron-right" aria-hidden="true"></i><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                </div>

                <div class="col-12 d-flex justify-content-center mg-top-1">
                    <button (click)="moveItem(selAvailable, availableItems, selectedItems)" class="btn btn-primary"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                </div>

                <div class="col-12 d-flex justify-content-center mg-top-1">
                    <button (click)="moveItem(selSelected, selectedItems, availableItems)" class="btn btn-danger"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                </div>

                <div class="col-12 d-flex justify-content-center mg-top-1">
                    <button (click)="moveAll(selectedItems, availableItems)" class="btn btn-danger"><i class="fa fa-chevron-left" aria-hidden="true"></i><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label for="sel-selected">Resultado inseridos:</label>
                    <select multiple="multiple" #selSelected id="sel-selected" class="form-control sel-multiple">
                        <option *ngFor="let item of selectedItems" [value]="item.id">
                            {{ item.description }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-1 align-self-center">
                <div class="col-12 d-flex justify-content-center">
                    <button (click)="moveTop(selSelected, selectedItems)" class="btn btn-default"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                </div>

                <div class="col-12 d-flex justify-content-center mg-top-1">
                    <button (click)="moveUp(selSelected, selectedItems)" class="btn btn-default"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
                </div>

                <div class="col-12 d-flex justify-content-center mg-top-1">
                    <button (click)="moveDown(selSelected, selectedItems)" class="btn btn-default"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                </div>

                <div class="col-12 d-flex justify-content-center mg-top-1">
                    <button (click)="moveBottom(selSelected, selectedItems)" class="btn btn-default"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>

    </div>

</section>
