<div class="row no-padding">
  <div class="col-3 no-padding cardTitleSmall">
    Motivação Principal
  </div>
  <div class="col-3 no-padding">
    <select #motivacaoPrincipal1 id="sel-motivacao1" class="form-control" (change)="submit()" [(ngModel)]="formObjects.motivacaoPrincipal1">
      <option></option>
      <option *ngFor="let item of motivacoesMap" [ngValue]="item.code">
        {{ item.motivacao }}
      </option>
    </select>
  </div>
  <div class="col-3 no-padding">
    <select #motivacaoPrincipal2 id="sel-motivacao2" class="form-control" (change)="submit()" [(ngModel)]="formObjects.motivacaoPrincipal2">
      <option></option>
      <option *ngFor="let item of motivacoesMap" [ngValue]="item.code">
        {{ item.motivacao }}
      </option>
    </select>
  </div>
  <div class="col-3 no-padding">
    <select #motivacaoPrincipal3 id="sel-motivacao3" class="form-control" (change)="submit()" [(ngModel)]="formObjects.motivacaoPrincipal3">
      <option></option>
      <option *ngFor="let item of motivacoesMap" [ngValue]="item.code">
        {{ item.motivacao }}
      </option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col-3 no-padding cardTitleSmall">
    Motivação Alternativa
  </div>
  <div class="col-3 no-padding">
    <select #motivacaoAlternativa1 id="sel-motivacaoAlternativa1" class="form-control" (change)="submit()" [(ngModel)]="formObjects.motivacaoAlternativa1">
      <option></option>
      <option *ngFor="let item of motivacoesMap" [ngValue]="item.code">
        {{ item.motivacao }}
      </option>
    </select>
  </div>
  <div class="col-3 no-padding">
    <select #selMotivacaoAlternativa2 id="sel-motivacaoAlternativa2" class="form-control" (change)="submit()" [(ngModel)]="formObjects.motivacaoAlternativa2">
      <option></option>
      <option *ngFor="let item of motivacoesMap" [ngValue]="item.code">
        {{ item.motivacao }}
      </option>
    </select>
  </div>
  <div class="col-3 no-padding">
    <select #selMotivacaoAlternativa3 id="sel-motivacaoAlternativa3" class="form-control" (change)="submit()" [(ngModel)]="formObjects.motivacaoAlternativa3">
      <option></option>
      <option *ngFor="let item of motivacoesMap" [ngValue]="item.code">
        {{ item.motivacao }}
      </option>
    </select>
  </div>
</div>

<div class="row"><div class="col-12">&nbsp;</div></div>

<div class="row">
  <div class="col-5 no-padding cardTitleSmall">
    Autogerenciamento principal
  </div>
  <div class="col-7 no-padding">
    <select #autoGerenciamento1 id="autoGerenciamento1" class="form-control" (change)="submit()" [(ngModel)]="formObjects.autoGerenciamento1">
      <option></option>
      <option *ngFor="let item of autoGerenciamentoMap" [ngValue]="item.code">
        {{ item.text }}
      </option>
    </select>
  </div>
</div>


<div class="row">
  <div class="col-5 no-padding cardTitleSmall">
    Autogerenciamento alternativo
  </div>
  <div class="col-7 no-padding">
    <select #autoGerenciamento2 id="autoGerenciamento2" class="form-control" (change)="submit()" [(ngModel)]="formObjects.autoGerenciamento2">
      <option></option>
      <option *ngFor="let item of autoGerenciamentoMap" [ngValue]="item.code">
        {{ item.text }}
      </option>
    </select>
  </div>
</div>

<div class="row formRowSeparator"><div class="col-12">&nbsp;</div></div>

<div class="row">
  <div class="col-5 no-padding cardTitleSmall">
    Indicador APOGEO principal
  </div>
  <div class="col-7 no-padding">
    <select #apogeo1 id="apogeo1" class="form-control" (change)="submit()" [(ngModel)]="formObjects.apogeo1">
      <option></option>
      <option *ngFor="let item of autoGerenciamentoMap" [ngValue]="item.code">
        {{ item.text }}
      </option>
    </select>
  </div>
</div>


<div class="row">
  <div class="col-5 no-padding cardTitleSmall">
    Indicador APOGEO alternativo
  </div>
  <div class="col-7 no-padding">
    <select #apogeo2 id="apogeo2" class="form-control" (change)="submit()" [(ngModel)]="formObjects.apogeo2">
      <option></option>
      <option *ngFor="let item of autoGerenciamentoMap" [ngValue]="item.code">
        {{ item.text }}
      </option>
    </select>
  </div>
</div>

<div class="row formRowSeparator"><div class="col-12">&nbsp;</div></div>
